<%= render "layouts/errors", :object => @review %>

<%= form_for [@product, @review] do |f| %>
  <%= f.label "Author" %>
  <%= f.text_field :author %>
  <br>
  <%= f.label "Your Review" %>
  <%= f.text_area :content_body %>
<br>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <p><%= f.submit %></p>
<% end %>
