<!DOCTYPE html>
<html>
  <head>
    <title>MarioStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to Mario's Coffee Emporium</h1>
      </div>
    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield %>
    </div>
  </body>
</html>
